<div class="container" >
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="card-body">
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/order_list" class="btn button-blue">My orders</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/make_order" class="btn button-blue">Make order</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/refund" class="btn button-blue">Refund order</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
