<div class="container" >
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="card-body">
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/rations" class="btn button-blue">List Of Rations</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addRation" class="btn button-blue">Add Ration</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/operator_orders" class="btn button-blue">List Of Orders</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/operator_coupons" class="btn button-blue">List Of Coupons</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
