.tiny-reg {
  margin-left: auto ;
  margin-right: auto ;
  width: 20em;
}

.inline{
  display: inline;
}

.tiny-btn {
  margin-left: auto ;
  margin-right: auto ;
  width: 20em;
  height: 1em;
  text-align: center;
}

.container{
  margin-bottom: 50px;
}

.btn-inline{
  display: inline;
  padding: 50px;
}
